devpack
warg
draugr
numpy
six
psutil
paho-mqtt
fire
pyfiglet
schedule
sorcery
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
dash
plotly
requests>=2.32.0 # not directly required, pinned by Snyk to avoid a vulnerability
werkzeug>=3.0.3 # not directly required, pinned by Snyk to avoid a vulnerability