devpack
numpy
six
pytest
matplotlib
pandas
scikit-learn
torch
psutil
dash
#dash_bootstrap_components
plotly
google_auth_oauthlib
google-api-python-client
requests_oauthlib
paho-mqtt
sh
fire
pyfiglet
schedule
